{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'mars.jpg'%}">
    </a>
    <h1>Ice on Mars</h1>
    <p>Finding near-surface ice on Mars from radar images</p>
  </div>
</div>
<div class="container">
  <style>
    h3 {
      text-align: center;
    }

    h4 {
      text-align: center;
    }
  </style>
  <form method="POST" action="search">
    {% csrf_token %}
    <h3>
      <!--<p>Longitude of Mars: <input type="number" id="longitude" name="longitude" min="0" max="360" required /></p>-->
      <!--<p>Latitude of Mars: <input type="number" id="latitude" name="latitude" min="-90" max="90" required /></p>-->

      <input type="range" id="longitudeSlider" name="longitudeSlider" min="0" max="360"></input>
      <label for="longitudeSlider">Longitude of Mars: </label><span id="longitudeValue">0</span>

      <input type="range" id="latitudeSlider" name="latitudeSlider" min="-90" max="90"></input>
      <label for="latitudeSlider">Latitude of Mars</label><span id="latitudeValue">0</span>

      <p><button id="searchButton" type="submit" class="btn btn-lg btn-default"><span
            class="glyphicon glyphicon-flash"></span> Find Ice!</button></p>
    </h3>
    <h4>
      <p id="searchText" style="display: none">Searching...</p>
    </h4>
  </form>
</div>
<script src="{% static 'search.js'%}"></script>
<script src="{% static 'slider.js'%}"></script>
{% endblock %}