{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'mars.jpg'%}">
    </a>
    <h1>Ice on Mars</h1>
    <p>Finding near-surface ice on Mars from radar images</p>
  </div>
</div>
<div class="container" style="position: relative; text-align: center; color: white;">
  <img src="https://mars.nasa.gov/system/resources/detail_files/24729_PIA23518-Mars-landing-sites-web.jpg" alt="mars map" style="width:100%;">
  <div class="x" id="x"><h3>x</h3></div>
</div>
<div class="container">
  <style>
    h3 {
      text-align: center;
    }

    h4 {
      text-align: center;
    }
  </style>
  <form method="POST" action="search">
    {% csrf_token %}
    <!--<p>Longitude of Mars: <input type="number" id="longitude" name="longitude" min="0" max="360" required /></p>-->
    <!--<p>Latitude of Mars: <input type="number" id="latitude" name="latitude" min="-90" max="90" required /></p>-->
    <div class="sliderContainer">
      <h3>
        <p>Longitude of Mars:</p><span id="longitudeValue">180</span>
      </h3>
      <input type="range" id="longitudeSlider" name="longitudeSlider" min="0" max="360"></input>

      <h3>
        <p>Latitude of Mars:</p><span id="latitudeValue">0</span>
      </h3>
      <input type="range" id="latitudeSlider" name="latitudeSlider" min="-90" max="90"></input>
    </div>
    <h4>
      <p id="searchText" style="display: none">Searching...</p>
    </h4>
    <h3>
      <p><button id="searchButton" type="submit" class="btn btn-lg btn-default"><span
            class="glyphicon glyphicon-flash"></span> Find Ice!</button></p>
    </h3>
  </form>
</div>
<script src="{% static 'search.js'%}"></script>
<script src="{% static 'slider.js'%}"></script>
{% endblock %}